:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --main-color: #2e2f42;
  --secondary_color: #434455;
  --h-f_color: #404bbf;
  --color_white: #ffffff;
}
/* ---COMPONENT--- */
body {
  font-family: var(--primary-font-family);
  background-color: var(--color_white);
  color: var(--secondary_color);
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ---/COMPONENT--- */
/* ---HEADER--- */
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header {
  border-bottom: 1px solid #E7E9FC;
}
.page-nav {
  display: flex;
  align-items: center;
}
.menu-nav {
  display: flex;
  align-items: center;
}
.primary_logo {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  margin-bottom: 16px;
}
.secondary_dark_logo {
  color: var(--main-color);
}
.secondary_white_logo {
  color: #f4f4fd;
}
.link_item {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.link:hover,
.link:focus {
  color: var(--h-f_color);
}
.menu-item {
  padding-top: 24px;
  padding-bottom: 24px;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.item_address {
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary_color);
}
.item_address:hover,
.item_address:focus {
  color: var(--h-f_color);
}
.address-nav {
  display: flex;
}
.address-item:not(:last-child) {
  margin-right: 40px;
}
/* ---/HEADER--- */
/* ---HERO--- */
.hero_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color_white);
  margin-bottom: 48px;
  max-width: 496px;
}
.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.hero_btn {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  min-width: 169px;
  height: 56px;
  letter-spacing: 0.04em;
  color: var(--color_white);
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
}
.hero_btn:hover,
.hero_btn:focus {
  background: var(--h-f_color);
}
.hero_bd {
  background: var(--main-color);
  padding-bottom: 188px;
  padding-top: 188px;
}
/* ---/HERO--- */
.list_about_us {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}
.item_about_us {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary_color);
}
.list-about {
  display: flex;
  gap: 24px;
}
.about {
  width: 264px;
}
.work {
  padding-bottom: 120px;
}
.card-work {
  flex-basis: calc((100% - 48px) / 3);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 72px;
}
.name_team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
  text-align: center;
}
.position_worker {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary_color);
  text-align: center;
}
.bd_team {
  background: #f4f4fd;
}
.bd-card {
  background: var(--color_white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.item-card {
  flex-basis: calc((100% - 72px) / 4);
}
.card {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.text-card-team {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
}
/* ---FOOTER--- */
.footer_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
  width: 264px;
}
.footer_bd {
  background: var(--main-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
/* ---/FOOTER--- */
/* ---PORTFOLIO--- */
.nav_buttons {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  padding: 12px 24px;
  background: #F4F4FD;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
}
.nav_buttons:hover,
.nav_buttons:focus {
  color: var(--color_white);
  background: var(--h-f_color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid transparent;
}
.btn-portfolio {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
}
.projects {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}
.project_industry {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary_color);
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 24px;
}
.text-card {
  padding-left: 16px;
  border: 1px solid #E7E9FC;
  border-top: none;
  padding: 32px 16px;
}
.portfolio-item-card:not(:nth-last-child(-n+3)) {
  margin-bottom: 48px;
}
/* ---/PORTFOLIO--- */
