:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --main-color: #2e2f42;
  --secondary_color: #434455;
  --h-f_color: #404bbf;
  --color_white: #ffffff;

  --header-idx: 10;
  --modal-idx: 100;
}
/* ---COMPONENT--- */
body {
  font-family: var(--primary-font-family);
  background-color: var(--color_white);
  color: var(--secondary_color);
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ---/COMPONENT--- */
/* ---HEADER--- */
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: var(--header-idx);
}
.page-header {
  /* position: fixed; */
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  /* padding: 24px 0px; */
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 10;
  }
.page-nav {
  display: flex;
  align-items: center;
}
.menu-nav {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.primary_logo {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.secondary_dark_logo {
  color: var(--main-color);
}
.secondary_white_logo {
  color: #f4f4fd;
}
.link_item {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
}
.link:hover,
.link:focus {
  color: var(--h-f_color);
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.menu-item {
  padding: 24px 0;
}
.item_address {
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary_color);
}
.item_address:hover,
.item_address:focus {
  color: var(--h-f_color);
}
.address-nav {
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item:not(:last-child) {
  margin-right: 40px;
}
.active {
    color: #404bbf;
}
.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: var(--h-f_color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ---/HEADER--- */
/* ---HERO--- */
.hero_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color_white);
  margin-bottom: 48px;
  max-width: 496px;
}
.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.hero_btn {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  min-width: 169px;
  height: 56px;
  letter-spacing: 0.04em;
  color: var(--color_white);
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero_btn:hover,
.hero_btn:focus {
  background: var(--h-f_color);
}
.hero_bd {
  background-color: var(--main-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  padding-bottom: 188px;
  padding-top: 188px;
  margin: auto;
}
/* ---/HERO--- */
.list_about_us {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}
.item_about_us {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary_color);
}
.list-about {
  display: flex;
  gap: 24px;
}
.about {
  width: 264px;
}
.about-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
  border-radius: 4px;
}
.work {
  padding-bottom: 120px;
}
.card-work {
  flex-basis: calc((100% - 48px) / 3);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 72px;
}
.name_team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
  text-align: center;
}
.position_worker {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary_color);
  text-align: center;
  margin-bottom: 8px;
}
.bd_team {
  background: #f4f4fd;
}
.bd-card {
  background: var(--color_white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-card {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-card:hover,
.link-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.item-card {
  background: var(--color_white);
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.card {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.text-card-team {
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
}
/* socials icons */
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons {
  fill: #f4f4fd;
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--h-f_color);
}
/* customers */
.customers-header {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--main-color);
}
.customers {
  display: flex;
  justify-content: center;
  gap: 24px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 168px;
  height: 88px;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  fill: #afb1b8;
}
.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--h-f_color);
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--h-f_color);
}
/* ---FOOTER--- */
.footer_text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.footer-position {
  display: flex;
  align-items: baseline;
}
.footer_bd {
  background: var(--main-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-footer {
  margin-bottom: 16px;
}
.footer-position-left {
  margin-right: 120px;
}
.footer-position-center {
  margin-right: 80px;
}
.footer-social {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color_white);
  margin-bottom: 16px;
}
.footer-icons {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons:hover,
.footer-icons:focus {
  background-color: #31d0aa;
}
.footer-social-icon {
  gap: 16px;
}
.footer-form {
  display: flex;
  gap: 24px;
  margin-top: 16px
}

.footer-form-email {
  border: 1px solid var(--color_white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  font-family: var(--primary-font-family);
  font-size: 12px;
  line-height: 2;
  color: var(--color_white);
  padding-left: 16px;
}

.footer-subscribe {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color_white);
}
.footer-btn {
  background: #4d5ae5;
  border-radius: 4px;
  display: flex;
  gap: 16px;
  padding: 8px 24px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.frame-icon {
  fill: var(--color_white);
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--h-f_color);
}
input::placeholder {
  color: var(--color_white);
  font-family: var(--primary-font-family);
  font-size: 12px;
  line-height: 2;
}
/* ---/FOOTER--- */
/* ---PORTFOLIO--- */
.nav_buttons {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  padding: 12px 24px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav_buttons:hover,
.nav_buttons:focus {
  color: var(--color_white);
  background: var(--h-f_color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid transparent;
}
.btn-portfolio {
  display: flex;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
}
.thumb {
  position: relative;
  overflow: hidden;
}
/* OVERLAY */
.overlay {
  position: absolute;
  background: #4d5ae5;
  mix-blend-mode: normal;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-card:hover .overlay-text,
.link-card:focus .overlay-text {
  transform: translateY(0%);
}
.overlay-text {
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.projects {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}
.project_industry {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary_color);
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-card {
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
/* ---/PORTFOLIO--- */
/* MODAL WINDOW */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: var(--modal-idx);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  padding: 72px 24px 24px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--h-f_color);
  border: none;
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--color_white);
}
.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
.form-label {
  display: block;
  margin-bottom: 4px;
  font-family: var(--primary-font-family);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
}
.form-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.form-fild {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 38px;
  outline: transparent;
  outline-offset: -1px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-fild:focus,
.form-comment:focus {
  outline: 1px solid #4d5ae5;
}
.form-icon {
  position: absolute;
  top: 8px;
  left: 16px;
  pointer-events: none;
}
.form-fild:focus + .form-icon {
  fill: #4d5ae5;
}
.form-comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 16px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  border-radius: 4px;
  font-family: var(--primary-font-family);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.form-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
.form-check-input {
  appearance: none;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E");
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-check-input:checked {
  background-color: #4d5ae5;
  border: #4d5ae5;
}

.form-agreement-text {
  font-family: var(--primary-font-family);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  user-select: none;
}
.form-agreement-link {
  text-decoration-line: underline;
  color: #4d5ae5;
}
.form-btn {
  display: block;
  margin: auto;
}